/* 
Default font for all text 
*/

* {
    font-family:Georgia;
}

/* 
    ============
    Variable(s) section
    ============ 
*/
:root {
    --red-accent: #CC2936;
}

.main-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap:  20px;
    height: 98vh;
}

/* 
    ====================
    Left side of the page/ left column
    ====================
 */

.grid-col-left {
    position: relative;
}

/* 
    Positioning of back button and login button 
*/
.navigation-bar {
    position: relative;
}

.back-button {
    position: absolute;
    top: 20px;
}

/* Position the login button to the right side of the navigation section */
.login-button {
    position: absolute;
    right: 0px;
    top: 0px;
}

/* 
    Styling of the registration section 
*/
.registeration-section{
    position: relative;
    margin-left: 5vw;
    margin-top: 5vw;
}

/* Make the h2 tag take the whole space 
so as the p tag goes to next line */
.registeration-section > h2{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.register-form {
    width: 38vw;
}

/* Add spacing between each form input */
.form-input {
    margin: 2vh auto;
    width: inherit;
}

.signup-button {
    margin-left: 4px;
}

/* Styling og the form input  */
input[type=text],input[type=email], input[type=datetime], input[type=tel] {
    padding: 5px;
    border: 2px solid;
    border-radius: 4px;
}

/* Add red accent on focus */
input[type=text]:focus,input[type=email]:focus, input[type=datetime]:focus, input[type=tel]:focus{
    border: 2px solid var(--red-accent);
    outline: none;
}

/* Styling of the button */
button{
    background-color: var(--red-accent);
    font: 1em sans-serif;
    border: none;
    border-radius: 25px;
    height: 4vh;
    cursor: pointer;
}

/* Styling of the line at the bottom of the button */
hr {
    border-radius: 5px;
    border: 5px grey solid;
    width: 20vw;
    margin-left: 10vw;
}

.existing-registration>p, .registration-icons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    right: 2vw;
}

/* 
    ====================
    Right side of the page/ Right column
    ====================
 */

 /* Center the content inside the section */
.grid-col-right {
    background-image: url("images/background.jpg");
    position: relative;
    background-size:cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.quote-content>h2{
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    color: ivory;
}