.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 98vh;
}

.grid-col-right {
    background: url("images/background.jpg")
}
.navigation-bar {
    position: relative;
}

.grid-col-left {
    position: relative;
}

.registeration-section{
    position: relative;
    padding-left: 100px;
    padding-top: 100px;
}

.registeration-section > h2{
    position: relative;
    display: flex;
}

.back-button {
    position: absolute;
    top: 20px;
}

.login-button {
    position: absolute;
    right: 0px;
    top: 0px;
}

.quote-content {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.quote-content>h2,.quote-content> p {
    color: white;
}

.form-input {
    margin-top: 50px;
    width: 200px;
}

.signup-button > button{
    width:50;
}

.register-form {
    width: 200px;
}

hr {
    border-radius: 5px;
    border: 10px grey solid;
    width: 200px;
}

.existing-registration {
    position: relative;
    display: flex;
    justify-content: center;
}